/*#region Variables*/
/*#endregion*/
body {
  background-color: #ecf0f1;
}
body,
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
h1 {
  color: #5f6466;
}
h3 {
  color: #00ade0;
}
p {
  font-size: 20px;
  line-height: 32px;
}
@media only screen and (max-width: 1024px) {
  p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 640px) {
  p {
    font-size: 12px;
    line-height: 19px;
  }
}
.light-grey {
  color: #ecf0f1;
}
.dark-grey {
  color: #14181a;
}
.orange {
  color: #f7941e;
}
.text-box {
  margin: 15px;
  padding: 15px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0, 173, 224, 0.6);
}
.text-box h1 {
  margin-top: 0;
}
.text-box h3 {
  margin-bottom: 0;
}
.margin {
  margin-top: 15px;
  margin-bottom: 15px;
}
.double-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*#region Nav*/
#navigation-shade {
  position: fixed;
  display: none;
  top: 75px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: transparent;
  transition: background-color 0.15s;
}
#navigation-shade.on {
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}
@media only screen and (max-width: 1024px) {
  #navigation-shade {
    top: 65px;
  }
}
@media only screen and (max-width: 640px) {
  #navigation-shade {
    top: 65px;
  }
}
#navigation-buffer {
  height: 75px;
  width: 100%;
}
#navigation {
  position: fixed;
  top: 0;
  overflow: hidden;
  max-height: 75px;
  width: 100%;
  z-index: 10;
  background-color: #14181a;
}
#navigation #nav-menu {
  position: relative;
  display: none;
  width: 60px;
  height: 65px;
  padding: 0;
  margin-left: -0.9375em;
  color: #ecf0f1;
}
#navigation #nav-menu span {
  position: absolute;
  display: block;
  width: 15px;
  height: 0;
  top: 15px;
  left: 20px;
  -webkit-box-shadow: 0 10px 0 1px #ecf0f1, 0 16px 0 1px #ecf0f1, 0 22px 0 1px #ecf0f1;
  box-shadow: 0 10px 0 1px #ecf0f1, 0 16px 0 1px #ecf0f1, 0 22px 0 1px #ecf0f1;
}
#navigation .logo {
  position: relative;
  display: inline-block;
  height: 75px;
  padding-top: 10px;
}
#navigation .logo img {
  height: 55px;
}
#navigation ul {
  font-size: 20px;
  line-height: 35px;
  margin: 0;
}
#navigation ul li {
  margin: 0;
  text-align: center;
}
#navigation ul li a {
  padding: 20px 15px;
  color: #ecf0f1;
  transition: all 0.15s;
}
#navigation ul li a:hover {
  background-color: #00ade0;
}
@media only screen and (max-width: 1024px) {
  #navigation-buffer {
    height: 65px;
  }
  #navigation {
    height: 65px;
  }
  #navigation .logo {
    height: 65px;
    padding-top: 10px;
  }
  #navigation .logo img {
    height: 45px;
  }
  #navigation ul {
    font-size: 15px;
  }
  #navigation ul li a {
    transition: all 0.15s;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 640px) {
  #navigation-buffer {
    height: 65px;
  }
  #navigation {
    height: 65px;
  }
  #navigation .logo {
    height: 65px;
    padding-top: 10px;
  }
  #navigation .logo img {
    height: 45px;
  }
  #navigation #nav-menu {
    display: inline-block;
    float: left;
  }
}
#offcanvas-navigation {
  position: fixed;
  top: 65px;
  left: 0;
  right: 100%;
  height: 100%;
  margin-left: -100%;
  z-index: 9;
  background-color: #14181a;
  transition: all 0.15s;
}
#offcanvas-navigation ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  font-size: 20px;
  line-height: 35px;
}
#offcanvas-navigation ul li {
  display: block;
  width: 100%;
}
#offcanvas-navigation ul li a {
  display: block;
  width: 100%;
  padding: 5px 15px;
  color: #ecf0f1;
  transistion: all 0.15s;
}
#offcanvas-navigation ul li a:hover {
  color: #14181a;
  background-color: #ecf0f1;
}
#offcanvas-navigation.on {
  left: 0;
  right: 50px;
  margin-left: 0;
}
/*#endregion*/
.cust-button {
  display: inline-block;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #00ade0;
  color: #ecf0f1;
  font-size: 20px;
  line-height: 20px;
  transition: all 0.15s;
}
.cust-button:hover {
  background-color: #108ab3;
  color: #ecf0f1;
}
.cust-button.expand {
  width: 100%;
  text-align: center;
}
.cust-button.orange {
  background-color: #f7941e;
}
.cust-button.orange:hover {
  background-color: #14181a;
}
.social-container {
  display: block;
  width: 100%;
}
.social-link {
  display: inline-block;
  padding: 15px;
  font-size: 30px;
  text-align: center;
  color: #ecf0f1;
  transition: all 0.15s;
}
.social-link.facebook:hover {
  color: #ecf0f1;
  background-color: #3b5998;
}
.social-link.twitter:hover {
  color: #ecf0f1;
  background-color: #55acee;
}
.social-link.github:hover {
  color: #ecf0f1;
  background-color: #4183c4;
}
.social-link.mail:hover {
  color: #ecf0f1;
  background-color: #00ade0;
}
.section {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.section p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.section.welcome {
  height: 400px;
  line-height: 400px;
  vertical-align: middle;
  text-align: center;
  background-image: url('../img/welcome-cover.jpg');
}
.section.dash,
.section.robot-ghosts {
  padding-top: 15px;
  padding-bottom: 15px;
}
.section.dash h2,
.section.robot-ghosts h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.section.games-header {
  height: 300px;
  line-height: 300px;
  vertical-align: middle;
  text-align: center;
  background-image: url('../img/robot-ghosts-cover2.jpg');
}
.section.footer {
  padding: 15px 0;
  background-color: #14181a;
  color: #ecf0f1;
}
.section.footer p {
  font-size: 16px;
  line-height: 22px;
}
.section.footer p.single-line {
  line-height: 16px;
}
@media only screen and (max-width: 1024px) {
  .section.welcome {
    height: 300px;
    line-height: 300px;
  }
}
@media only screen and (max-width: 640px) {
  .section.welcome {
    height: 300px;
    line-height: 300px;
  }
}
