/*#region Variables*/
@bodyBackgroundColor: @circularLightGrey;
@bodyTextColor: #000;
@margin: 15px;

@lightText: 300;
@regularText: 400;
@heavyText: 600;

@shadeBackground: rgba(0, 0, 0, 0.8);
@navBackground: rgba(0, 173, 224, 0.6);
@navBackgroundSolid: @circularDarkGrey;
@navText: @circularLightGrey;
@navHeight: 75px;
@navHeightMed: 65px;
@navHeightSmall: 65px;

@circularGreen: #71bf44;
@circularBlue: #00ADE0;
@circularDarkBlue: #108AB3;
//@circularGrey: #5a5e67;
@circularGrey: #5f6466;
@circularLightGrey: #ecf0f1;
@circularDarkGrey: #14181a;
@dashOrange: #f7941e;


@facebook: #3B5998;
@twitter: #55ACEE;
@github: #4183c4;
@mail: @circularBlue;
/*#endregion*/


.transition() {
    transition: all 0.15s;
}


body {
    background-color: @bodyBackgroundColor;
}

body, p {
    font-family: 'Open Sans', sans-serif;
    font-weight: @regularText;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: @heavyText;
}

h1 {
    color: @circularGrey;
}
h3 {
    color: @circularBlue;
}
p {
    font-size: 20px;
    line-height: 32px;
}
@media only screen and (max-width: 1024px) {
    p {
        font-size: 16px;
        line-height: 26px;
    }
}
@media only screen and (max-width: 640px) {
    p {
        font-size: 12px;
        line-height: 19px;
    }
}

.light-grey {
    color: @circularLightGrey;
}
.dark-grey {
    color: @circularDarkGrey;
}
.orange {
    color: @dashOrange;
}

.text-box {
    margin: @margin;
    padding: @margin;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: @navBackground;
    h1 {
        margin-top: 0;
    }
    h3 {
        margin-bottom: 0;
    }
}

.margin {
    margin-top: @margin;
    margin-bottom: @margin;
}

.double-margin {
    margin-top: @margin*2;
    margin-bottom: @margin*2;
}


/*#region Nav*/
#navigation-shade {
    position: fixed;
    display: none;
    top: @navHeight;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: transparent;

    transition: background-color 0.15s;

    &.on {
        background-color: @shadeBackground;
        display: block;
    }
}
@media only screen and (max-width: 1024px) {

    #navigation-shade {
        top: @navHeightMed;
    }
}
@media only screen and (max-width: 640px) {

    #navigation-shade {
        top: @navHeightSmall;
    }
}
#navigation-buffer {
    height: @navHeight;
    width: 100%;
}
#navigation {
    position: fixed;
    top: 0;
    overflow: hidden;
    max-height: @navHeight;
    width: 100%;
    z-index: 10;

    //font-family: @openSans;
    //font-weight: @light;

    background-color: @circularDarkGrey;

    #nav-menu {
        position: relative;
        display: none;
        width: 60px;
        height: @navHeightSmall;
        padding: 0;
        margin-left: -0.9375em;

        color: @navText;

        span {
            position: absolute;
            display: block;
            width: 15px;
            height: 0;
            top: 15px;
            left: 20px;
            -webkit-box-shadow: 0 10px 0 1px @navText, 0 16px 0 1px @navText, 0 22px 0 1px @navText;
            box-shadow: 0 10px 0 1px @navText, 0 16px 0 1px @navText, 0 22px 0 1px @navText;
        }
    }

    .logo {
        position: relative;
        display: inline-block;
        height: @navHeight;
        padding-top: 10px;
        

        img {
            height: 55px;
        }
    }

    ul {
        font-size: 20px;
        line-height: 35px;
        margin: 0;

        li {
            margin: 0;
            text-align: center;

            a {
                padding: 20px 15px;

                color: @circularLightGrey;

               .transition();
            }
            a:hover {
                //color: @circularDarkGrey;
                background-color: @circularBlue;
                //color: lighten(@navText, 30%);
                //background-color: #222;
                &.orange {
                    //background-color: @dashOrange;
                }
                &.blue {
                    //color: @circularLightGrey;
                    //background-color: @circularBlue;
                }
                &.dark-blue {
                    //color: @circularLightGrey;
                    //background-color: @circularDarkBlue;
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    #navigation-buffer {
        height: @navHeightMed;
    }
    #navigation {
        height: @navHeightMed;

        .logo {
            height: @navHeightMed;
            padding-top: 10px;
            
            img {
                height: 45px;
            }
        }

        ul {
            font-size: 15px;
            li a {
                transition: all 0.15s;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }
    
}
@media only screen and (max-width: 640px) {
    #navigation-buffer {
        height: @navHeightSmall;
    }
    #navigation {
        height: @navHeightSmall;

        .logo {
            height: @navHeightSmall;
            padding-top: 10px;
            
            img {
                height: 45px;
            }
        }

        #nav-menu {
            display: inline-block;
            float: left;
        }

    }
}
#offcanvas-navigation {
    position: fixed;
    top: @navHeightSmall;
    left: 0;
    right: 100%;
    height: 100%;
    margin-left: -100%;
    z-index: 9;

    background-color: @navBackgroundSolid;
    transition: all 0.15s;

    ul {
        list-style-type: none;
        width: 100%;
        margin: 0;

        font-size: 20px;
        line-height: 35px;

        li {
            display: block;
            width: 100%;

            a {
                display: block;
                width: 100%;
                padding: 5px 15px;
                //background-color: #555;

                color: @navText;

                transistion: all 0.15s;
            }
            a:hover {
                color: @navBackgroundSolid;
                background-color: @navText;
                //color: lighten(@navText, 30%);
            }
        }
    }
}
#offcanvas-navigation.on {
    //display: block;
    left: 0;
    right: 50px;
    margin-left: 0;
}
/*#endregion*/


.cust-button {
    display: inline-block;
    //width: auto;
    padding: @margin;
    margin-top: @margin;
    margin-bottom: @margin;
    background-color: @circularBlue;
    color: @circularLightGrey;
    font-size: 20px;
    line-height: 20px;

    .transition();

    &:hover {
        background-color: @circularDarkBlue;
        color: @circularLightGrey;
    }

    &.expand {
        width: 100%;
        text-align: center;
    }

    &.orange {
        background-color: @dashOrange;
        &:hover {
            background-color: @circularDarkGrey;
            //color: @dashOrange;
        }
    }
    
}


.social-container {
    display: block;
    width: 100%;
}
.social-link {
    display: inline-block;
    //margin: 0 @margin;
    padding: @margin;
    //width: 25%;
    font-size: 30px;
    text-align: center;
    color: @circularLightGrey;

    .transition();

    &.facebook:hover {
        color: @circularLightGrey;
        background-color: @facebook;
    }
    &.twitter:hover {
        color: @circularLightGrey;
        background-color: @twitter;
    }
    &.github:hover {
        color: @circularLightGrey;
        background-color: @github;
    }
    &.mail:hover {
        color: @circularLightGrey;
        background-color: @mail;
    }
}


.section {
    width: 100%;

    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    //background-color: @circularGrey;

    p {
        margin-top: @margin;
        margin-bottom: @margin;
    }

    &.welcome {
        height: 400px;
        line-height: 400px;
        vertical-align: middle;
        text-align: center;

        background-image: url('../img/welcome-cover.jpg');
    }

    &.dash, &.robot-ghosts {
        padding-top: @margin;
        padding-bottom: @margin;

        //background-color: @dashOrange;
        h2 {
            margin-top: @margin;
            margin-bottom: @margin;
            //line-height: 0.8em;
        }
    }

    &.games-header {
        height: 300px;
        line-height: 300px;
        vertical-align: middle;
        text-align: center;

        background-image: url('../img/robot-ghosts-cover2.jpg');

        h1 {
            //margin: 0;
        }
    }

    &.robot-ghosts {

    }

    &.footer {
        padding: @margin 0;
        background-color: @circularDarkGrey;
        color: @circularLightGrey;

        p {
            font-size: 16px;
            line-height: 22px;
        }

        p.single-line {
            //font-size: 16px;
            line-height: 16px;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .section {
        &.welcome {
            height: 300px;
            line-height: 300px;
        }
    } 
}
@media only screen and (max-width: 640px) {
    .section {
        &.welcome {
            height: 300px;
            line-height: 300px;
        }
    }
}

